{% extends 'base.html' %}
{% block page_title %}
    Movie
{% endblock %}
{% block page_content %}
    {% if movie %}

        <div class="uk-card uk-card-default uk-border-rounded">
            <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        {% if movie.statistics.vote_average >= 7 %}
                            <h3 class="uk-text-success">{{ movie.statistics.vote_average }}</h3>
                        {% elif movie.statistics.vote_average >= 4 %}
                            <h3 class="uk-text-warning">{{ movie.statistics.vote_average }}</h3>
                        {% else %}
                            <h3 class="uk-text-danger">{{ movie.statistics.vote_average }}</h3>
                        {% endif %}
                    </div>
                    <div class="uk-width-expand">
                        <h3 class="uk-card-title uk-margin-remove-bottom">{{ movie.title }}
                            ({{ movie.original_title }})</h3>
                        <p class="uk-text-meta uk-margin-remove-top">
                            {{ movie.release_date }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="uk-card-body">
                {{ movie.overview }}
            </div>
        </div>
    {% else %}
        <h3>Film nie został znaleziony, proszę przejść do <a href="{% url 'all_movies' %}">listy filmów</a></h3>
    {% endif %}

{% endblock %}
