{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block page_title %}Movies{% endblock %}</title>


    <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}">

    <script src="{% static 'js/uikit.min.js' %}"></script>
    <script src="{% static 'js/uikit-icons.min.js' %}"></script>
    <style>
        html {
            height: 100%;
        }

        body {
            min-height: 100%;
        }
    </style>
</head>
<body> {% comment %}style="background-color: #29232c"{% endcomment %}
<div uk-height-viewport="offset-bottom: 0" class="uk-flex" uk-flex>
    <div class="uk-width-small" style="background: linear-gradient(0deg, rgba(78,60,87,1) 79%, rgba(131,67,60,1) 96%);">
        <div class="uk-padding-small uk-flex uk-flex-column" style="gap: 15px">
            {% include 'menu_button.html' with name='Home' url_name='all_movies' icon='thumbnails' %}
            {% include 'menu_button.html' with name='Filmy' url_name='all_movies' icon='video-camera' %}
        </div>
    </div>
    <div class="uk-width-expand">
        {% block  page_content %}
        {% endblock %}
    </div>
</div>
</body>
</html>